<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details Hotel</title>
</head>
<body>
   <div>
    <h1>Detalle de los Hoteles</h1>
    <p>Nombre: {{hotel.nombreHotel}}</p>
    <p>Direccion: {{hotel.direccionHotel}}</p>
    <p>Habitaciones: {{hotel.habitacionesHotel}}</p>
    <p>Tarifa: {{hotel.tarifaHotel}}</p>
    <p>Telefono del hotel: {{hotel.fonoHotel}}</p>
    <p>Mascotas: {{hotel.mascotaHotel}}</p>
    <p>Numero del Hotel: {{hotel.numeroHotel}}</p>
   </div>

</body>
</html>