<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    <title>Lista de hoteles</title>
</head>

<body class="container mt-5">
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'hoteles:listaHotel' %}">Home Lista Hotel</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'clientApp : listaClient ' %}">Listado pasajeros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'clientApp : editarClient' %}">Editor de pasajeros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="{% url 'hoteles : editarHotel' %}" tabindex="-1" aria-disabled="true">Editor de hoteles</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</div>
    

    <div class="alert alert-success display-1">Listado de hoteles</div>
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>Nombre del Hotel </th>
                    <th>Direccion del Hotel </th>
                    <th>Habitaciones </th>
                    <th>Tarifa </th>
                    <th>Telefono Hotel </th>
                    <th>Mascota </th>
                    <th>Numero </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for hotel in hoteles %}
                <tr>
                    <td>{{ hotel.nombreHotel }}</td>
                    <td>{{ hotel.direccionHotel }}</td>
                    <td>{{ hotel.habitacionHotel }}</td>
                    <td>{{ hotel.tarifaHotel }}</td>
                    <td>{{ hotel.telefonoHotel }}</td>
                    <td>{{ hotel.mascotaHotel }}</td>
                    <td>{{ hotel.numeroHotel }}</td>
                    <td>
                        <a href="{% url 'editarHotel' hotel.id %}" class="btn btn-primary">Editar</a>
                        <a href="{% url 'eliminarHotel' hotel.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       
        <a href="{% url 'crearHotel' %}" class="btn btn-warning">Crear nuevo Hotel</a>
    
</body>
</html>