<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Pasajeros</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'hoteles:listaHotel' %}">Home Lista Hotel</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'clientApp : listaClient ' %}">Listado pasajeros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'clientApp : editarClient' %}">Editor de pasajeros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="{% url 'hoteles : editarHotel' %}" tabindex="-1" aria-disabled="true">Editor de hoteles</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>

    <h1>Eliminar Pasajeros</h1>
    <p> Estas Seguro que desea eliminar al Pasajeros "{{ client.nombreClient}}?" </p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn-danger">Eliminar Pasajeros</button>
    </form>
</body>
</html>